:root {
    --content-height: 100%;
}

body {
    background-color: #ffe1a5;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: #ffe1a5;

}

.header {
    min-height: 60px;
    position: relative;
}

#back {
    position: absolute;
    left: 15px;
    top: 15px;
}

#go_to_game,
#save_settings {
    background-color: darkorchid;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

.wrapper_start_page__header__items {
    display: inline-flex;
    margin-top: 5px;
    margin-right: 5px;
}

.wrapper_start_page__header {
    display: table;
    margin-left: auto;
}

.wrapper_start_page__header__settings {
    margin-left: 10px;
}

.wrapper_start_page__main {
    position: relative;
}

.footer {
    min-height: 100px;
}

.settings {
    position: relative;
}

.settings__elements {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
}

.settings__background_image {
    filter: blur(4px);
}

svg path {
    fill: red;
}

.words_wrapper {
    display: table;
    margin: auto;
}

.enter_letters__wrapper__row {
    margin-bottom: 3px;
}

.words_wrapper {
    margin-top: 25px;
}

.enter_letters__wrapper {
    margin-bottom: 25px;
    display: table;
    margin: auto;
}

.words_wrapper__row {
    margin-bottom: 13px;
    color: white;
}

.words_wrapper__row span {
    padding: 7px;
    background-color: gray;
    border-radius: 5px;
    margin-right: -1px;
    cursor: pointer;
}

.enter_letters__wrapper input {
    width: 55px;
    height: 55px;
    margin-left: -1px;
    border-radius: 5px;
    border: 1px #a4a4a4 solid;
    outline: none !important;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.success {
    background-color: green;
}

.middle {
    background-color: gray;
}

.middle-word {
    background-color: red !important;
}